@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,400;0,500;1,400&display=swap");

/*GENERAL*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

img, picture {
  max-width: 100%;
  width: 100%;
  display: block;

}

h1,
h2 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  color: #000000;
}

h3,
h4,
p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  color: #000000;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
  border-radius: 1.5625rem;
}

a {
  color: #000000;
  text-decoration: none;
}

body {
  background-color: white;
  min-height: 100vh;
  width: 100vw;
  position: relative;

}

html, body {
  overflow-x: hidden;
}

/*HOME*/

.wrapHeader {
  background-image: url(../assets/images/jpeg/imagencabecera.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 40%;
  height: 100vh;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0px;
  left: 0px;
}

.navContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.hero_nav {
  width: 100%;
  padding: 2rem;
  list-style: none;
  text-decoration: none;
  color: #000000;
}

.logo {
  cursor: pointer;
}

.hero_nav_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-decoration: none;
  color: #000000;
}

.hero_nav_links li {
  width: auto;
  padding: 0px 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  list-style: none;
  text-decoration: none;
}

.hero_nav_links li a {
  transition: all 0.3s ease 0s;
}

.hero_nav_links li a:hover {
  color: rgb(203, 123, 75);
}

button {
  background-color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  padding: 10px 33.5px;
  border-radius: 25px;
}

button:hover {
  background-color: rgb(203, 123, 75);
}

.mainContent {
  background-size: cover;
  background-repeat: no-repeat;
}

.section1 {
  margin: 2.5rem;
  min-height: 25rem;
}

#parSection1 {
  margin-top: 2.5rem;
}

.ctaSection1 {
  margin-top: 1.5rem;
}

.section2 {
  margin: 2.5rem;
  overflow: hidden;
}

.contSection2 {
  padding-top: 4rem;
}

.section2_image {
  display: flex;
  justify-content: center;
}

.section2Nav {
  margin-top: 2rem;
}

.section3 {
}

.contSection3 {
  text-align: center;
}

.section3_image {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.section4 {
  margin-top: 4rem;
  background-image: url(../assets/images/jpeg/section\ 4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 70vh;
  overflow: hidden;
}

.contSection4 {
  padding: 10rem 2rem;
  text-align: center;
}

.aSection4 {
  color: rgb(203, 123, 75);
}

.section5 {
  padding: 2.5rem;
}

.contSection5 {
  text-align: center;
}

.h2Section5 {
  margin-top: 2.5rem;
}

.h3Section5 {
  margin-top: 2.5rem;
}

.parSection5 {
  margin: 2.5rem;
}

.section5_image {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

/*FOOTER*/

.footer {
  height: 451px;
  width: 100%;
  background-color: #1e1e1e;
  overflow: hidden;
}

.footer-Container {
  padding: 6rem 8rem;
  display: flex;
  justify-content: center;
}

.logo-Footer {
  display: flex;
  justify-content: left;
}

hr {
  height: 2px;
  color: white;
}

.footerContent {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.mail {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.contact-link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.telephone {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.phoneNumber {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.socialmedia {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 30px;
}

/*.column2 {

}*/

.col2Links {
  list-style: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-align: left;
}

.col2LinksLi {
  display: flex;
  text-align: left;
  margin-top: 5px;
  color: white;
}

.col2LinksLi a {
  transition: all 0.3s ease 0s;
}

.col2LinksLi a:hover {
  color: rgb(203, 123, 75);
}

.col3Links {
  list-style: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.col3LinksLi {
  display: flex;
  text-align: left;
  margin-top: 5px;
  color: white;
  text-align: left;
}

.col3LinksLi a {
  transition: all 0.3s ease 0s;
}

.col3LinksLi a:hover {
  color: rgb(203, 123, 75);
}

.newsletterFooter {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: white;
  text-decoration: none;
  margin-bottom: 40px;
}

.box {
  width: 235px;
}

input {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  width: 225px;
  height: 40px;
  border-style: solid;
}

.inputFooter {
  border-radius: 25px;
  color: white;
  padding-left: 10px;
  border-color: white;
  margin-bottom: 20px;
}

#inputSubmit {
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-decoration: none;
  background-color: white;
  border-color: white;
  border-style: solid;
  color: #1e1e1e;
  text-align: center;
  justify-content: center;
  padding-left: 0;


/*****************************PAGINA CONTACTO***********************************/

.mainContent-Contact {
  margin: 16rem;
}

.mainContent-Contact {
  margin: 16rem;
}

  text-align: center;
}

.parSection1Contact {
  margin: auto;
  margin-top: 40px;
  max-width: 630px;
  text-align: center;
}

.marquee {
  height: 25px;
  width: 100%;

  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 200%;
  height: 30px;

  position: absolute;
  overflow: hidden;

  animation: marquee 15s linear infinite;
}

.marquee span {
  float: left;
  width: 100%;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}


@media screen and (min-width: 768px) and (max-width: 1200px) {
  .mainContent {
    padding: 2rem;
  }
}

@media (min-width: 1200px) {
  .contSection2 {
    padding: 8rem 4rem 6rem 4rem;
  }

  .contSection3 {
    padding: 18rem 4rem 6rem 4rem;
  }

  .contSection4 {
    margin-left: 4rem;
    justify-content: left;
  }

  .section5_image {
  display: flex;
  justify-content: right;
}

.contSection5 {
  padding: 8rem 2rem;
}